{% include 'blades/head.html' %}
<form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    <label for="data-admissao">Admissão</label>
    <input type="date" id="data-admissao" name="data-admissao" value="{{ patient_diagnosis.get('data-admissao', '') }}">
    <!-- Atualize o formulário HTML para enviar os dados no formato esperado -->
    <div id="medicamentos">
        <div class="medicamento">
            <label for="medicamento">Medicamento</label>
            <input type="text" id="medicamento" name="medicamento">
            <label for="quantidade">Quantidade</label>
            <input type="number" id="quantidade" name="quantidade">
            <button type="button" id="adicionar">Adicionar medicamento</button>
        </div>
        <div id="lista-medicamentos">
            {% if medicamentos_quantidades %}
                {% for item in medicamentos_quantidades %}
                <div class="medicamento-item">
                    <label for="medicamento">Medicamento</label>
                    <input type="text" name="medicamentos[][nome]" value="{{ item.medicamento }}">
                    <label for="quantidade">Quantidade</label>
                    <input type="number" name="medicamentos[][quantidade]" value="{{ item.quantidade }}">
                    <button type="button" class="remover">Remover</button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <button type="button" id="voltar">Voltar</button>
    <input type="submit" value="Enviar">
</form>
{% include 'blades/foot.html' %}
